---
layout: default
---

.delete-me
  .container
    %h1 Proteus
    %p
      You're all set!
      <a href="http://github.com/thoughtbot/proteus-jekyll">Let's get started</a>
      building your prototype.
